{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block main_content %}

	{% for d in data %}
		<div class="card mb-2 mt-2 shadow-lg" style="background-color: #fff;">
		    <div class="card-body p-2">
		    	{% if d.source_name == "Youtube.com" %}
		    	<div class="col-12 p-0 m-0">
		    		<div class="col-12 p-0 m-0 img_box">
  						<a onclick="ytModel('{{d.url|videoid}}')" 
  						data-toggle="modal" data-target="#ytModel">
  							<img src="//img.youtube.com/vi/{{d.url|videoid}}/0.jpg" 
  							style="width:100% height:100%;" class="img_crop img-fluid">

	  						<div class="centered">
	  							<i class="fa fa-youtube-play" aria-hidden="true"
	  							style="font-size:60px;color:#ff0000;"></i>
	  						</div>
  						</a>
		    		</div>
		    		<h6 class="card-title">
				      	<a href="{{d.url}}" class="link-css" target="-blank" 
				      	style="color: black;" title="Article source link">
				      		{{d.title|htmlconvert}}
				      	</a>
			      	</h6>
			      	<p style="font-size:13px;">{{d.publishedAt|nicedate|timesince}} ago</p>
		    	</div>

		    	{% elif d.urlToImage == "null" %}
		    	<div class="col-12">
		    		<h6 class="card-title">
				      	<a href="{{d.url}}" class="link-css" target="-blank" 
				      	style="color: black;" title="Article source link">
				      		{{d.title|htmlconvert}}
				      	</a>
				      	
			      	</h6>
			      	<div class="row">
			      		  {% if d.auther != "null" and d.auther != "" and d.auther != d.source_name and "#" not in d.auther and "http" not in d.auther %}
				      		<div class="col-lg-6 col-md-6 col-sm-12 mb-0 mt-0">
						    	<p style="font-size:13px;" class="m-0 p-0">
							      	Author: <b>{{d.auther}}</b>
						    	</p>
							</div>
						  {% endif %}
				      		<div class="col-lg-6 col-md-6 col-sm-12 mb-0 mt-0">
				      			<p style="font-size:13px;" class="m-0 p-0">{{d.publishedAt|nicedate|timesince}} ago</p>
				      		</div>
			      	</div>
		    	</div>
		    	{% else %}
		    	<div class="row">
		    		<div class="col-8" id="newstitlebox{{forloop.counter}}">
		    			<h6 class="card-title">
				      		<a href="{{d.url}}" class="link-css" target="-blank" 
				      		style="color: black;" title="Article source link">
				      		{{d.title|rmsource|htmlconvert}}
				      		</a>
				      		
			      		</h6>
			      		<div class="row">
			      		  {% if d.auther != "null" and d.auther != "" and d.auther|lower not in d.source_name|lower and "#" not in d.auther and "http" not in d.auther %}
				      		<div class="col-lg-6 col-md-6 col-sm-12 mb-0 mt-0">
						    	<p style="font-size:13px;" class="m-0 p-0">
							      	Author: <b>{{d.auther}}</b>
						    	</p>
							</div>
						  {% endif %}
				      		<div class="col-lg-6 col-md-6 col-sm-12 mb-0 mt-0">
				      			<p style="font-size:13px;" class="m-0 p-0">{{d.publishedAt|nicedate|timesince}} ago</p>
				      		</div>
			      		</div>

				    	
			      	</div>
			    	<div class="col-4 pl-0 ml-0 img-height" id="newsimgbox{{forloop.counter}}">
			    		<a title="Click image to see full view" 
			    			onclick="ImgModel('{{d.urlToImage}}')" 
			    			data-toggle="modal" data-target="#imgModel">
			    			<img class="rounded img-fluid" src="{{d.urlToImage}}" id="newsimg"
			    			onerror="imgError('newstitlebox{{forloop.counter}}','newsimgbox{{forloop.counter}}');" style="width: 100%; height:100px; object-fit: cover;">
			    		</a>
			    	</div>	
		    	</div>
		    	{% endif %}

		      	{% if d.source_name != "Youtube.com" %}
			    <div class="dec-box">
			      	{% if d.description != "null" %}
			      		<p class="m-0 p-0"><b>Description:</b> {{d.description|htmlconvert}}...
			      			<a href="{{d.url}}" style=" color: blue;" target="-blank" 
			      			title="Article source link">see article</a>
			      		</p>
			      	{% elif d.content != "null" and d.content|startswith %}
			      		<p class="m-0 p-0"><b>Content:</b> {{d.content|rmdigit|htmlconvert}}...
			      			<a href="{{d.url}}"style="color: blue;" target="-blank" 
			      			title="Article source link">see article</a>
			      		</p>
			      	{% endif %}
			    </div>
    			
			  	<hr class="mb-0">
			  	<div class="mb-0 mt-0">
			      <p style="font-size:14px;" class="m-0 p-0">
			      	Source: <b>{{d.source_name}}</b>
			      </p>
			    </div>
			  
			    {% endif %}
		    </div>
		</div>
		
	{% endfor %}

	{% if data.count == 0 and search_query %}
		<div class="card mt-5 shadow-lg">
		    <div class="card-body">
		      <h4 class="card-title">Articles Not Found!</h4>
		      <p class="card-text">Search result for "{{search_query}}" not found.</p>
		    </div>
		</div>
	{% elif data.count == 0 %}
		<div class="card mt-5 shadow-lg">
		    <div class="card-body">
		      <h4 class="card-title">Not Available!</h4>
		      <p class="card-text">News articles not available for selected category.</p>
		    </div>
		</div>
	{% else %}
		<div id="refresh" class="fixed-bottom">
			<button class="btn-default" id="refbtn" onclick="refPage()">Refresh
				<i class="fa fa-refresh" aria-hidden="true" style="color: #fff;"></i>
			</button>
		</div>
	{% endif %}
	

	<!-- The Modal  source auther date -->
	<div class="modal fade" id="myModal">
	    <div class="modal-dialog modal-dialog-centered modal-sm">
	      	<div class="modal-content">
	      
		        <!-- Modal Header -->
		        <div class="modal-header">
			      	<h4 class="modal-title" style="font-weight: bold;" id="modalHeader">
			      		
			      	</h4>
			      <button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			    
			    <!-- Modal body -->
			    <div class="modal-body">
			        <p id="newsSource"></p>		
			        <p id="author"></p>
					<p id="pubDate"></p>
				</div>      
			</div>
	   </div>
	</div>
					  <!-- model close -->


	  

{% endblock %}